@import "tailwindcss";

@theme {
  --color-bg: #fefae0;
  --color-green-dark: #ccd5ae;
  --color-green-light: #e9edc9;
  --color-brown-dark: #d4a373;
  --color-brown-light: #faedcd;
  --color-bg-nav: #403122;
}
